body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 0 250px 0 250px;
    align-items: center;
}

ul li{
    display: inline-block;
}

li {
    list-style: none;
    font-size: 18px;
}

a {
    color: grey;
}

.container-1 {
    display: flex;
    padding: 50px 250px 100px 250px;
    background-color:#1F2937;
    gap: 18px;
    color: white;
    align-items: center;
}
h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
}

.container-1 img {
    max-width: 320px;
    height: 220px;
    object-fit: contain;
}

.button1 {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 300px 50px 300px;
    gap: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;

}

.small-imgs {
    display: flex;
    font-size: 18px;
    width: 800px;
    color: grey;
    justify-content: center;
    text-align: center;
}

.small-img {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.small-img img {
    max-width: 75%;
    height: 75%;
    object-fit: contain;
    border: 5px solid;
    border-color:#3882F6;    
    border-radius: 8px;
}

.container-3 {
    background-color: #E5E7EB;
    padding: 50px 300px 100px 300px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

p.signature {
    text-align: right;
    font-weight: 800;
}

.container-4 {
    background-color: white;
}

.call-to-action {
    display: flex;    
    margin: 50px 250px 100px 250px;
    padding: 20px 50px 20px 50px;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    border-radius: 8px;
}

.left4 h2 {
    margin-bottom: 0;
}

.left4 p {
    margin-top:0;
}
.right4 .button1 {
    border: 5px solid;
    border-color: white;
}

.footer {
    display: flex;
    background-color:#1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}